[Unit]
Description=DBTRAC Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/dbtrac-monitor.sh
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target